@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateX(600px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  

  @keyframes fadeInUp2 {
    0% {
     opacity:0;
      transform: scale(0);
    }
    100% {
      
      transform: scale(1);
    }
  }
  
  @keyframes blink {
    0% {
     opacity:0;
   
    }
    100% {
      
      opacity:1;
      color:#facc16 ;
    }
  }

  @keyframes maintitle {
    0% {
      
        transform: scale(04);
   
    }
    100% {
        
        transform: scale(0);
    }
  }

  @keyframes appear {
    0% {
     opacity:0;
      
    }
    100% {
      
      opacity:1;
    }
  }

  @keyframes appearblink {
    0% {
     opacity:0;
      
    }
    100% {
      
      opacity:0.7;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    animation: fadeInUp 2s ease-in-out;
    animation-fill-mode: both;
  }

  #mainImg, #cont{
    animation: fadeInUp2 1s ease-in-out;
    animation-fill-mode: both;

  }

  #insert{
    animation: blink 1s ease-in-out infinite;
    animation-fill-mode: both;
  }

  #maintitle{
    animation: maintitle 10s ease-out;
   
  }

  #along, header{
    animation: appear 8s ease-in-out;
   
  }
  #presstart{
    font-family: 'Press Start 2P', cursive;
    animation: appearblink 0.7s linear infinite;
    animation-delay: 5s;
    animation-fill-mode: both;
   
  }